.content {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
}

.content li {
    list-style-type: none;
}

.content :hover {
    background-color: #c7edfc;
}

.content a {
    color: #000000;
}

.activeLink>div {
    background-color: #c7edfc;
}